<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="Pragma"   CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control"   CONTENT="no-cache">
    <META HTTP-EQUIV="Expires"   CONTENT="0">
    <title>ASE平台</title>
    <link rel="shortcut icon" href="#springUrl('/static/common/img/head.gif')" type="image/x-icon" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/common/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/static/common/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/static/common/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/static/common/css/dataTables.bootstrap.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/static/common/css/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/static/common/css/AdminLTE.css">
    <!-- tips -->
    <link rel="stylesheet" href="/static/common/js/toastr/toastr.min.css">

    <link rel="stylesheet" href="/static/common/css/skins/skin-blue-light.css">

    <link rel="stylesheet" href="/static/common/js/pace/pace.min.css">

    <link rel="stylesheet" href="/static/common/css/bootstrap-datetimepicker.css">

    <link rel="stylesheet" href="/static/common/css/global.css">
    <!-- jQuery 3 -->
    <script src="/static/common/js/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/static/common/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="/static/common/js/jquery.dataTables.min.js"></script>
    <script src="/static/common/js/dataTables.bootstrap.min.js"></script>
    <!-- Select2 -->
#*<script src="/static/common/js/select2.full.min.js"></script>*#
    <!-- SlimScroll -->
    <script src="/static/common/js/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/static/common/js/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/static/common/js/adminlte.min.js"></script>
    <!-- datepicker -->
    <script src="/static/common/js/bootstrap-datetimepicker.js"></script>
    <!-- bootstrapValidator -->
    <script src="/static/common/js/bootstrapValidator.min.js"></script>
    <!-- jquery.form -->
    <script src="/static/common/js/jquery.form.min.js"></script>
    <!-- 确认框 -->
    <script src="/static/common/js/bootbox.min.js"></script>
    <!-- tips -->
    <script src="/static/common/js/toastr/toastr.min.js"></script>
    <!-- pace -->
    <script src="/static/common/js/pace/pace.min.js"></script>
    <!-- 自定义扩展 -->
    <script src="/static/common/js/util/jquery.fn.extend.js"></script>
    <!-- my97date -->
    <script src="/static/common/js/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        var basePath = '#springUrl('')';
    </script>
</head>
<body id="mainBody">
    $screen_content
<div class="footer">
    <div style="background: #1c1e20;color: white;padding-bottom: 5px;">
        <div style="text-align: center;padding-top: 10px;">客服热线：400-123-1234 销售热线：400-123-4321 010-88888888
            Email：ar@ase.com（团队） hr@ase.com（公司）
        </div>
        <div style="text-align: center">ase.com(京ICP证12345678) 人工智障团队版权所有©1999-2999</div>
    </div>
</div>
<style type="text/css">
    .footer {
        width: 100%;
        /*position: fixed;*/
        bottom: 0;
    }
</style>
</body>
</html>