<div class="container-fluid" style="padding-left: 0px;padding-right: 0px;height: 120px;margin-bottom: 3px;background: antiquewhite;">
    <div class="span12" style="margin-bottom: 14px;">
        <h3 style="font-size: 30px;margin-left: 38px;">
            ASE平台
        </h3>
    </div>
    <div class="n_li">
        <p class="p1">
            <a class="a_but" onclick="selectUrl(this,'/welcome')">首页</a>
            <a class="a_but" onclick="selectUrl(this,'/monitor/extraction')">言论提取</a>
            <a class="a_but" onclick="selectUrl(this,'/monitor/index')">言论列表</a>
        </p>
        <p class="p2">
            <a class="a_but" onclick="selectUrl(this,'/user/login')">登录</a><span style="color: white">|</span>
            <a class="a_but" href="/user/register">注册</a>
        </p>
    </div>
</div>
<style type="text/css">
    .n_li {
        width: 100%;
        background: midnightblue;
        height: 55px;
    }

    .p1{
        float: left;
        font-size: 16px;
        padding-top: 17px;
        padding-left: 4%;
    }

    .p2{
        float: right;
        font-size: 16px;
        padding-top: 17px;
        padding-right: 4%;
    }

    .n_li2 {
        display: flex;
    }

    .selected_class {
        background: white;
    }
    .a_but{
        cursor:pointer;
        color: white;
        padding: 8px 10px;
    }
    a.a_but:hover,a.a_but:active {
        background: yellow;
        color: black;
    }
    .but_cls{
        background: yellow;
        color: black;
    }
</style>

<script>
    $(function(){
        $(".n_li").find(".a_but").click(function(e){
            $(".a_but").removeClass("but_cls");
            $(this).addClass("but_cls");
        });
    })
</script>