<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ASE平台</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/common/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/static/common/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/static/common/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/static/common/css/dataTables.bootstrap.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/static/common/css/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/static/common/css/AdminLTE.css">
    <!-- tips -->
    <link rel="stylesheet" href="/static/common/js/toastr/toastr.min.css">

    <link rel="stylesheet" href="/static/common/css/skins/skin-blue-light.css">

    <link rel="stylesheet" href="/static/common/js/pace/pace.min.css">

    <link rel="stylesheet" href="/static/common/css/bootstrap-datetimepicker.css">

    <link rel="stylesheet" href="/static/common/css/global.css">
    <!-- jQuery 3 -->
    <script src="/static/common/js/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/static/common/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="/static/common/js/jquery.dataTables.min.js"></script>
    <script src="/static/common/js/dataTables.bootstrap.min.js"></script>
    <!-- Select2 -->
#*<script src="/static/common/js/select2.full.min.js"></script>*#
    <!-- SlimScroll -->
    <script src="/static/common/js/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/static/common/js/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/static/common/js/adminlte.min.js"></script>
    <!-- datepicker -->
    <script src="/static/common/js/bootstrap-datetimepicker.js"></script>
    <!-- bootstrapValidator -->
    <script src="/static/common/js/bootstrapValidator.min.js"></script>
    <!-- jquery.form -->
    <script src="/static/common/js/jquery.form.min.js"></script>
    <!-- 确认框 -->
    <script src="/static/common/js/bootbox.min.js"></script>
    <!-- tips -->
    <script src="/static/common/js/toastr/toastr.min.js"></script>
    <!-- pace -->
    <script src="/static/common/js/pace/pace.min.js"></script>
    <!-- 自定义扩展 -->
    <script src="/static/common/js/util/jquery.fn.extend.js"></script>
    <!-- my97date -->
    <script src="/static/common/js/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        var basePath = '#springUrl('')';
    </script>
</head>
<body onresize="" class="theme-blue">
    #parse("layout/head.vm")
    #parse("layout/content.vm")
</body>

<script type="text/javascript">
    function selectUrl(obj, url) {
        $('#mainFrame').attr('src', basePath + url);
    }

    $(function () {
        setHeight();
    });

    function setHeight() {
        $('#mainFrame').height($(window).height() - 120);
    }
</script>
</html>