#set($layout="layout/contentLayout.vm")
<div class="span12">
    <div class="carousel slide" id="carousel-528289">
        <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#carousel-528289">
            </li>
            <li data-slide-to="1" data-target="#carousel-528289">
            </li>
            <li data-slide-to="2" data-target="#carousel-528289">
            </li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img alt="" src="/static/common/img/14.jpg"/>
            ##                <div class="carousel-caption">
            ##                    <h4>
            ##                        棒球
            ##                    </h4>
            ##                    <p>
            ##                        棒球运动是一种以棒打球为主要特点，集体性、对抗性很强的球类运动项目，在美国、日本尤为盛行。
            ##                    </p>
            ##                </div>
            </div>
            <div class="item">
                <img alt="" src="/static/common/img/15.jpg"/>
            </div>
            <div class="item">
                <img alt="" src="/static/common/img/13.jpg"/>
            </div>
        </div>
        <a data-slide="prev" href="#carousel-528289" class="left carousel-control"></a>
        <a data-slide="next" href="#carousel-528289" class="right carousel-control"></a>
    </div>
</div>

<div class="span12">
    <div class="hero-unit" style="padding: 3px 8%;height: 312px;">
        <h1 style="color: blueviolet;">ASE平台介绍</h1>
        <div>
            <p class="wel_p">
                随着每天涌入的新闻信息越来越多，能够从海量信息中自动提取出不同人物对于不同事件的观点描述，
                这个功能有利于我们对于新闻的阅读和观点的总结有很大作用。
            </p>
        </div>
    </div>
</div>

<style>
    .wel_p {
        line-height: 36px;
        font-size: larger;
        font-family: cursive;
        text-indent: 2em;
        text-align: justify;
        color: indigo;
    }
</style>